<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="sideNav" mode="side" opened="true" (mouseenter)="mouseenter()"
               (mouseleave)="mouseleave()">
    <div class="text-center h-25">
      <!--      <button mat-icon-button (click)="sidenav.toggle()">-->
      <!--        <mat-icon>menu</mat-icon>-->
      <!--      </button>-->
      Workbench</div>
    <mat-nav-list>
      <ng-container *ngFor="let sideNavItem of sideNavItems; let i=index">
        <mat-list-item (click)="onClickSideNavItem(sideNavItem)"
                       [ngClass]="{'sideNavItem-selected': sideNavItem.isSelected}" class="parent">
          <span class="sideNavItem-list full-width" *ngIf="isExpanded || isShowing">{{sideNavItem?.name}}</span>
          <mat-icon class="sideNavItem-list" mat-list-icon>{{sideNavItem?.icon}}</mat-icon>
          <mat-icon class="menu-button sideNavItem-list" [ngClass]="{'rotated' : sideNavItem.isSelected}"
                    *ngIf="sideNavItem?.subMenuItems?.length">
            expand_more
          </mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="sideNavItem?.subMenuItems" [ngClass]="{'expanded' : sideNavItem?.isSelected}"
             [hidden]="!sideNavItem?.isSelected">
          <ng-container *ngFor="let subMenuItem of sideNavItem?.subMenuItems; let j=index">
            <mat-list-item class="sideNavItem-list"
                           [ngClass]="[subMenuItem?.isSelected ? 'sideNavItem-name': '' || sideNavItem.isSelected ? 'sideNavItem-selected-subMenu' : '']"
                           (click)="subMenuItemOnchange(subMenuItem,i,j)">{{subMenuItem?.name}}</mat-list-item>
          </ng-container>
        </div>
      </ng-container>
    </mat-nav-list>
    <div class="admin-info">
      <h4>Admin</h4>
      <span>Produktion 12345-6789</span>
    </div>
  </mat-sidenav>

  <div class="example-sidenav-content"
       *ngIf="showSubMenuContent && sideNavItems[sideNavItemIndex].subMenuItems[subMenuItemIndex].isSelected">
    <mat-sidenav-container class="example-container" style="width: 100%" autosize>
      <mat-sidenav  class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
                    (mouseleave)="mouseleave()">
        <div class="submenu-sidenav-title">
          <div>
            <!--          <button mat-icon-button (click)="sidenav.toggle()">-->
            <mat-icon class="toggle-icon" (click)="sidenav.toggle()">menu</mat-icon>
            <!--          </button>-->
            <h2 style="display: inline">Arbeitsschrite </h2>
          </div>
          <div>
            <span>FORTSCHRITT: 67%</span>
            <span>01:16:22</span>
          </div>
          <mat-progress-bar  mode="determinate" value="67"></mat-progress-bar>
        </div>
        <mat-nav-list
                *ngFor="let subMenuSideNavItem of sideNavItems[sideNavItemIndex].subMenuItems[subMenuItemIndex]?.subMenuSideNavItems">
          <mat-list-item (click)="showSubmenu = !showSubmenu" style="color: black !important;" [ngClass]="{'sideNavItem-name' : subMenuSideNavItem?.isSelected}">
            <span class="full-width" *ngIf="isExpanded || isShowing">
               <span [matBadgeHidden]="!subMenuSideNavItem.count"  matBadge="{{subMenuSideNavItem?.count}}"
                     color="primary" matBadgeOverlap="false">
               </span>
              <span style="margin-left: 25px" (click)="onClickSubMenuSideNav(subMenuSideNavItem)">{{subMenuSideNavItem?.name}}</span>
             </span>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <!-- content of selected subMenuSideNavItem -->
      <app-schweibmaschine *ngIf="subMenuSideNavItem?.isSelected && (subMenuSideNavItem?.name ==='Schweißmaschine')"></app-schweibmaschine>
    </mat-sidenav-container>

  </div>

</mat-sidenav-container>
<mat-toolbar class="sideNav">
  <button class="login-button">
    <mat-icon>account_circle</mat-icon>
    <span>Login</span>
  </button>

  <button class="small-button-without-box-shadow margin-left-30">
    <mat-icon>logout</mat-icon>
  </button>
  <input class="search-toolbar" />

  <button class="small-button-without-box-shadow margin-left-20" (click)="virtualKeyboard()">
    <mat-icon>keyboard</mat-icon>
  </button>

  <button class="small-button-without-box-shadow margin-left-10">
    <mat-icon>history</mat-icon>
  </button>

  <div class="current-time margin-left-20">  {{time   | date: "HH:mm:ss"}}</div>
</mat-toolbar>

<ng-container>

  <div  [hidden]="!showVirtualKeyboard" style="text-align:center" class="simple-keyboard">
    <input (input)="onInputChange($event)" class="input input-simple-keyboard" value={{value}} placeholder="Tap on the virtual keyboard to start" />
    <div class="simple-keyboard"></div>
  </div>

</ng-container>
